.navbar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-palevioletred);
  width: 100%;
  height: 64px;
  background-color:#D25380;
}
.plans-pricicng,
.wellness-hub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.plans-pricicng {
  position: absolute;
  top: 12px;
  right: 720px;
  width: 174px;
}
.wellness-hub {
  right: 417px;
  width: 118px;
}
.login,
.our-counselors,
.wellness-hub {
  position: absolute;
  top: 12px;
}
.login {
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 40px;
}
.our-counselors {
  right: 575px;
}
.how-it-works,
.our-counselors,
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 40px;
}
.how-it-works {
  position: absolute;
  top: 12px;
  right: 921px;
}
.project {
  top: calc(50% - 20px);
  left: calc(50% - 673px);
  font-size: var(--font-size-5xl);
}
.navbar,
.project,
.signup {
  position: absolute;
}
.signup {
  top: 12px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 40px;
}
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
}
.home-bg {
  position: absolute;
  top: 0;
  left: 123px;
  width: 100%;
  height: 972px;
  object-fit: cover;
}
.body-child {
  position: absolute;
  top: 0;
  left: 123px;
  background-color: #a78a6d;
  width: 100%;
  height: 960px;
  mix-blend-mode: screen;
}
.welcome-to-the {
  margin: 0;
}
.welcome-to-the-container1 {
  line-break: anywhere;
  width: 100%;
}
.welcome-to-the-container {
  position: absolute;
  top: 160px;
  left: 730px;
  display: flex;
  align-items: center;
  width: 385.66px;
  height: 95.8px;
  font-size: 28px;
  color: #D25380;
}
.body-item {
  position: absolute;
  top: 368.4px;
  left: 650.73px;
  background-color: var(--color-floralwhite-100);
  width: 173.75px;
  height: 56.3px;
}

.introducing-a-mental {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introducing-a-mental {
  top: 252px;
  left: 475px;
  font-size: var(--font-size-lg);
  width: 913px;
  height: 289px;
  font-style: italic;
  color: #D25380;
}

.get-started {
  position: absolute;
  top: 262px;
  left: 831px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 45px;
  border: none;
  border-radius: 30px;
  background-color: #FFFAF4;
  color: #D25380;
}
.body {
  position: absolute;
  top: 64px;
  left: -123px;
  width: 100%;
  height: 972px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkred);
}
.home-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-floralwhite-100);
  font-family: 'Inter', sans-serif;
}
